.card {
    min-width: 300px;
    border: solid 1px #F4B740;
    border-radius: 5px;
    padding: 10px;

}

@media screen and (max-width:768px) {
    .card {
        width: 90%;
        margin: 10px auto;
    }
}