.threeCol,
.twoCol,
.oneCol,
.fourCol {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
}

.twoCol {
    grid-template-columns: 1fr 1fr;
}

.threeCol {
    grid-template-columns: 1fr 1fr 1fr;
}

.fourCol {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.oneCol>*,
.twoCol>*,
.threeCol>*,
.fourCol>* {
    align-self: stretch;
    margin: 10px;
}

@media screen and (max-width:1024px) {
    .threeCol {
        grid-template-columns: 1fr;
    }

    .fourCol {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width:768px) {
    .fourCol {
        grid-template-columns: 1fr;
    }

    .twoCol {
        grid-template-columns: 1fr;
    }

}